{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
     
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    </head>
    <body ng-app="djngSite.controllers" ng-controller="MainController">
      <nav class="nav-extended brown lighten-4">
          <div class="nav-wrapper row">
              <a href="#" data-activates="mobile-demo" class="button-collapse col m4 s2" style="margin-right:29px;"><i class="material-icons">menu</i></a> 
              <div class="nav-content col l8 m6 s4 hide-on-med-and-down">
                <ul class="tabs angularTabs brown lighten-4" style="overflow-x: hidden;">
                    <li ng-repeat="item in menu" class="tab col l2 m1">
                      <a href="#{$ item.path $}">{$ item.menuitem $}</a>
                    </li>
                </ul>
              </div>
              <div class="col l4 m6 s9">
                <img class="right" src="{% static 'assets/logo.png' %}">
              </div>
              <ul class="side-nav" id="mobile-demo">
                  <li><a href="sass.html">Sass</a></li>
                  <li><a href="badges.html">Components</a></li>
                  <li><a href="collapsible.html">JavaScript</a></li>
              </ul>
         </div>
     </nav>
    <ng-view>
      
    </ng-view>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- AngularJS Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.5/angular-resource.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script src="{% static 'javascript/angularTabs.js' %}"></script>
        <script src="{% static 'app.js' %}"></script>
        <script src="{% static 'Controller/MainController.js' %}"></script>
       
        
        
    </body>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Quicksand');
        .menuItem{
            font-family: 'Quicksand', sans-serif;
            color: rgb(71, 74, 79);
        }
        .material-icons{
            color: rgb(71, 74, 79);
            font-size: 21px
        }
        .material-icons:hover{
            color: rgba(71,74,79, 0.7);
        }
        .indicator:{
           color: rgb(71, 74, 79);
        }
    </style>
</html>